build/
build-*/
build_*/
*build_*/
*_build_*/
*build*/*
*build*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*.ninja-deps
*.ninja-log

*.o
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.dll.a
*.su
*.cmake.in
*.sh
*.exe
*.out
*.app
pack

tests/
tests/*
dist/*
dist/
*release*/*
*release*
*debug*/
